/* CABECALHO  */
.cabecalho__container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.cabecalho__pesquisar__item {
    display: none;
}
.superior__secao__container{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 15px;
}

@media (min-width: 834px){
.cabecalho__pesquisar__item {
    display: block;
    border: 2px solid var(--azul-escuro);
}
.rodape__container {
    justify-content: space-between;
}
}

/* RODAPE  */
.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

/* BARRA LATERAL */
.menu__container {
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
    
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (min-width: 834px) {
    .menu__container {
        left: 0;
        height: auto;
        width: 75px;
        top: 80px;
    }
    .menu__lista {
        flex-direction: column;
        justify-content: start;
        gap: 33px;
    }

}

/* VIDEOS */
.conteiner {
    padding: 30px 6%;
}
.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.videos__item {
    height: 303px;
    width: 280px;
    flex-grow: 1;
}
.videos__item iframe {
    border-radius: 10px;
}

.imagem__canal {
    width: 40px;
    border-radius: 50%;
}